*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root {
    /* font-family: 'RocknRoll One', sans-serif; */
    --blue: #2b72b5;
    --lightblue:#a6d9f3;
    --yoshida:#e79936;
    --subashiri:#d52d26;
    --gotemba:#3f924c;
    --fujinomiya:#2b75bb;

}
h1,h2,h3,h4,h5,h6 {
    color: var( --blue );
}
h3 {
    color: var( --blue );
    text-align: center;
    font-size: 36px;
    position: absolute;
    top: 4%;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    letter-spacing: 5px;
    display: inline-block;
    width: 550px;
    border-radius: 7px;
    /* background-color: white; */
    background-image: url(../img/header_bg.png);
}
h4{
    margin: 0px 0px 20px 0px;
}

#info , #myitinerary , #tool{
    background-image: url(../img/bg_mountain_R-07.png);
    background-repeat: repeat;
}

.card-title{
    font-size: 26px;
}

.card-text{
    color: var(--blue);
    font-size: 18px;
}

table{
    width: 100%;
}

tr>td:nth-child(1){
    text-align: center;
}

td{
    padding: 5px 20px;
}

.tdSpanStyle{
    background-color: var(--lightblue);
    color: var(--blue);
    letter-spacing: 8px;
    border-radius: 5px;
}

#itinerary1 tr , #itinerary2 tr{
    color: var(--blue);
    font-size: 18px;
}
#itinerary1 tr:hover , #itinerary2 tr:hover{
    background-color: var(--blue);
    color: white;
}

#checkListBox{
    position: absolute;
    top: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    border: var(--blue) 2px solid;
    width: 1050px;
    height: 700px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 10px 10px 0px -1px var(--lightblue);
}

#checkList{
    width: 1000px;
    left: 0;
    right: 0;
    margin: 20px auto;
    color: var(--blue);
}
#checkList td{
    font-size: 18px;
    height: 80px;

}
#checkList th{
    background-color: var(--lightblue);
    text-align: center;
    color: var(--blue);
    height: 50px;
    letter-spacing: 10px;
    font-size: 26px;
}

#checkBox{
    width: 30px;
    height: 30px;
    border: 2px solid var(--blue);
    text-align: right;

}
.section{
    width: 100%;
    height: 100vh;
}
#home{
    display: flex;
    position: relative;
}
#homefuji{
    width: 100%;
    min-width: 800px;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.infopage{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: absolute;
    top: 150px; 
    left: 0;
    right: 0;
    margin: 0 auto;
}

.infopage img{
    width: 300px;
    height: 220px;
    margin-left: 80px;
    
}

#info{
    color: var(--blue);
    font-size: 18px;
}

#infoLocation{
    display: flex;
    flex-direction: row;
}

#infoPart1 , #infoPart2{
    margin-bottom: 60px;
    border: 2px solid var(--blue);
    padding: 20px;
    background-color: rgba(255, 255, 255,0.8);
    box-shadow: 10px 10px 0px -1px var(--lightblue);
}

#info h4::after{
    content: "";
    display: inline-block;
    position: relative;
    right: 140px;
    bottom: -10px;
    width: 150px;
    height: 10px;
    background-color: rgba(255, 255, 0, 0.5);
}
#info li{
    list-style: none;
    margin: 12px;
    /* list-style: url(../img/1x/fujimountain.png); */
    /* list-style-image: url(../img/1x/fujimountain.png); */
}
#info li::before{
    content: "";
    position: relative;
    top: 23px;
    display: inline-block;
    background-image: url(../img/icon.png);
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: 0px 15px 20px 0px;
}

#trails{
    background-image: url('../img/bg5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: bottom right; */
    /* display: flex; */
    /* flex-direction:column; */
}


#trailsbt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80vw;
}
#trailsIcon {
    display: flexbox;
    /* justify-content: space-around; */
    width: 100%;
    height: 70px;
    text-align: center;
    margin-bottom: 20px;
}

#trailsIcon img {
    width: 200px;
    margin: 0 20px 20px 20px;
    /* background-color: var(--blue); */
    box-shadow: 10px 10px 0px -1px var(--lightblue);
}


#trailsRecommend{
    position: absolute;
    width: 38vw;
    height: 48vh;
    top:15%;
    left:50%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    font-size: 22px;
    color: var(--blue);
    margin: 25px 50px 0px 0px;
    padding: 50px;
    text-align: center;
}

#trailsInfo{
    position: relative;
    left: 40px;
    width: 35vw;
    padding: 25px 0px 0px 25px;
    text-indent:-34px;
}

#trailsInfo li{
    list-style: none;
    margin: 0px 0px 20px 0px;
}

#trailsInfo li::before{
    content: "";
    position: relative;
    top: 23px;
    display: inline-block;
    background-image: url(../img/icon.png);
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: 0px 15px 20px 0px;
}
.trailsInfoFocus{
    font-size: 32px;
    color: var(--yoshida);
}

#trailsInfoBox{
    width: 80vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1.5rem;
    color: var(--blue);
    border:2px var(--blue) solid;
    box-shadow: 10px 10px 0px -1px var(--lightblue);
}

.ui-widget-header{
    background-color: var(--lightblue);
    border: none;
}
.ui-tabs .ui-tabs-nav {
    padding: .5em .2em 0;
    display: flex;
    justify-content: space-between;
    /* outline: none; */
}

html.ui-button.ui-state-disabled:active{
    border: none;
    
}
.ui-button.ui-state-active:hover{
    border: none;
}

.trail_box{
    /* display: block; */
    display: none;
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 30px;
    left: 10%;
    background-color: red;
}
input[type=radio]{
    display: none;
}

.travelbox{
    width: 30%;
    height: 350px;
    display: block;
    border: 1px solid #999;
    border-radius: 20px;
    margin: 0 20px;
    text-align: center;
}
figure img{
    width: 95%;
    
}


#myheader{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #fdfaf4;
}


.section{
    background-color: #ffffff;
}


.headercloud , #shinkansen , #sun , #fujimountain , #headerlet , #headergo{
    position: absolute;
}

.headercloud{
    width: 20vw;
    z-index: 3;
}

#leftcloud{
    bottom: 12vh;
    left: 20vw;
    animation: MoveToLeft 5s 2s ;
    animation-fill-mode:forwards;
}

@keyframes MoveToLeft {
    from { left: 20vw; }
    to { left: 5vw; }
}
#rightcloud{
    bottom: 10vh;
    right: 20vw;
    animation: MoveToRight 5s 2s ;
    animation-fill-mode:forwards;
}
@keyframes MoveToRight {
    from { right: 20vw; }
    to { right: 5vw; }
}

#shinkansen{
    height: 5vh;
    bottom: 0vh;
    z-index: 3;
}

#sun{
    z-index: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#fujimountain{
    z-index: 2;
    bottom: 0vh;
}

#headerlet , #headergo{
    opacity: 0;
}

#fujiLivecamera{
    width: 760px;
    height: 550px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
 }
 
#navbar{
     position: fixed;
     height: 100vh;
     margin: 0 auto auto 20px;
     z-index: 1;
     background-color: var(--blue);
     width: 4px;
     height: 100vh;
     /* display: none; */
    }
    
    .mynavcss{
        margin-bottom: 30px;
        height: 30px;
    }
    
    .mynavcss > button{
        /* display: block; */
        display: none;
        width: 130px;
        height: 30px;
        position: relative;
        top: 50px;
        left: -10px;
        background-color: rgba(0, 0, 255, 0.2);
        border-radius: 20px;
        text-align: center;
        line-height: 10px;
        border: none;
        color: var(--blue);
        /* z-index: 1; */
    }
    
    
    .navcircle{
        width: 12px;
        height: 12px;
        position: relative;
        top: 70px;
        border: 1px solid #ffffff; 
        border-radius: 50%;
        background-color: var(--blue);
        margin-left:-4px;
    }
    
    
    #fp-nav ul li a span, 
    .fp-slidesNav ul li a span {
        background: var(--blue);
    }
    #fp-nav ul li .fp-tooltip {
        color: var(--blue);
    }
    
    
    /* fullpagebackground Setting */
    #slide1{
        background: url(../img/bg1.jpg);
        background-position: center;
        background-size: cover;
        
	}
	#slide2{
        background: url(../img/bg2.jpg);
        background-position: center;
        background-size: cover;
	} 
    #photoslide p {
        position: relative;
        color: rgba(255, 255, 255,0.8);
        font-size: 36px;
        width: 80%;
        left: 10%;
        top: 15%;
        /* top: 400px; */
        text-align: left;
        overflow: hidden;
        padding: auto 10% ;
    }
    
    #photoslide p::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 3px;
        height: 40px;
        bottom:20px;
        background-color: rgba(255, 255, 255,0.8);
        animation: 1s mycursor steps(2 , jump-none) infinite;
    }
    @keyframes mycursor{
        from{
            opacity: 0;
        } to{
            opacity: 1;
        }
    }
    
    #slide1Text span{
        display: inline-block;
        overflow: hidden;
        width: 0ch;
        animation: textin 0.01s ease-in-out forwards;
        animation-delay: var(--delay1);
        animation-play-state: paused;
    }
    
    #slide2Text span{
        display: inline-block;
        overflow: hidden;
        width: 0ch;
        animation: textin 0.01s ease-in-out forwards;
        animation-delay: var(--delay2);
        animation-play-state: paused;
    }
    
    @keyframes textin{
        from{
            width: 0ch;
        } to {
            width: 2ch;
        }
    }
    
    /* ------------------------------- To do or Not */
    #todo{
        text-align: center;
        background-image: url(../img/bg4.jpg);
        background-size: cover;
        background-position: bottom right;
    }
    
    #todo img{
        margin-top: 3%;
    }
    
    .card{
        display: inline-flex;
        justify-content: center; 
        align-items: center;
        margin: 30px;
        background-color: rgba(255, 255, 255,0.8);
        box-shadow: 10px 10px 0px -1px var(--lightblue);
    }
    #TodoOrNotCards .btn{
        background-color: var(--lightblue);
        border: var(--blue) 2px solid;
        color: var(--blue);
    }
    #TodoOrNotCards .btn:hover{
        background-color: var(--blue);
        border: var(--blue) 2px solid;
        color: white;
    }
    
    
    /* ------------------------------- Q＆A */
    #yamabikoMountain{
        position: absolute;
        bottom: -15px;
        left: 0px;
        height: 600px;
        z-index: 1;
    }
    #yamabikoHiker{
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 400px;
        z-index: 2;
    }
    #QAinfo {
        color: var( --blue );
        text-align: center;
        font-size: 24px;
        position: absolute;
        top: 12%;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        letter-spacing: 5px;
    }
    #question{
        display: none;
        position: absolute;
        height: 60px;
        width: 650px;
        color: white;
        text-align: left;
        font-size: 24px;
        top: 35%;
        left: 30%;
        letter-spacing: 5px;
        background-color: var(--blue);
        border-radius: 10px;
        padding: 10px 20px;
        z-index: 3;
    }
    
    #answer {
        display: none;
        color: white;
        font-size: 24px;
        position: absolute;
        bottom: 30%;
        right: 20%;
        letter-spacing: 5px;
        background-color: var(--blue);
        border-radius: 10px;
        padding: 10px 20px;
        z-index: 3;
    }
    
    #answer button{
        background-color: var(--lightblue);
        color: var(--blue);
        width: 200px;
        outline: none;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 30px;
        border: 2px solid var(--blue);
    }
    #answer button:hover{
        background-color: var(--blue);
        color: white;
        border: 2px solid var(--lightblue);
    }
    #result{
        padding-left: 68px;
        color: yellow;
    }
    .nextQuextion{
        outline: none;
        color: var(--blue);
        background-color: var(--lightblue);
        border: none;
        border-radius: 5px;
        padding: 0px 20px;
    }
    
    
    /* ------------------------------- itinerary */
    
    #itinerary{
        background-color: rgba(255, 255, 255,0.7);
        width: 1200px;
        height: 650px;
        display: flex;
        justify-content: space-around;
        border: var(--blue) 2px solid;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 15px 15px 0px -1px var(--lightblue);
    }
    
    .itineraryList{
        position: relative;
        /* left: 560px; */
        width: 525px;
        /* background-color: red; */
    }
    #camera{
        position: relative;
        width: 560px;
        height: 560px;
        overflow: hidden;
    }
    #itineraryCamera{
        /* right: 51%;  */
        width: 550px;
        z-index: 2;
    }
    
    #itineraryImg{
        position: relative;
        top: 250px;
        left: 40px;
        /* right: 60%;  */
        width: 400px;
        /* top: 0;
        bottom: 0;
        margin: auto 0; */
        z-index: 1;
    }
    
    #changeItinerary{
        width: 525px;
        background-color: var(--blue);
        border-radius: 5px;
    }
    
    #changeToitinerary1,#changeToitinerary2{
        outline: none;
        border: none;
        background-color: var(--lightblue);
        color: var(--blue);
        width: 250px;
        height: 50px;
        font-size: 24px;
        margin: 5px;
        border-radius: 5px;
    }
    #itinerary1Info , #itinerary2Info{
        margin: 10px;
        color: var(--blue);
        font-size: 18px;
    }
    #itinerary1Info a{
        background-color: rgba(255, 255, 0, 0.5);
    }
    
    #itinerary2{
        display: none;
    }
    
    #itinerary img{
        position: absolute;
        bottom: 20px;
    }
    
    #changeToitinerary2{
        background-color: var(--blue);
        color: white;
    }

    /* -----------------------------------------traffic */
    #traffic{
        background-image: url(../img/bg_yu.png);
        background-position: center;
        background-size: cover;
    }
    #byTrain{
        position: absolute;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255,0.8);
        width: 900px;
        border: var(--blue) 2px solid;
        box-shadow: 15px 15px 0px -1px var(--lightblue);
    }
    
    .eki{
        background-color: white;
        color: var(--blue);
    }

    #fromTokyobyTrain , #fromOsakabyTrain1 , #fromOsakabyTrain2 {
        display: grid;
        grid-template-columns: 120px 130px 120px 130px 120px 100px 160px;
        margin: 10px 0px;
    }
    
    #fromTokyobyBus1{
        display: grid;
        grid-template-columns: 120px 600px 160px;
        margin: 10px 0px;
        
    }
    
    #fromTokyobyBus2 , #fromOsakabyBus2{
        display: grid;
        grid-template-columns: 120px 380px 120px 100px 160px;
        margin: 10px 0px;
        
    }
    
    #byTrain p{
        border: var(--lightblue) 2px solid;
        padding: 5px;
        border-radius: 5px;
        margin: 10px 10px;
        text-align: center;
        color: var(--blue);
    }
    
    #byTrain .trainInfo p{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        border: none;
        margin: 0;
        padding: 0;
        letter-spacing: 2px;

    }
    .trafficWay::after{
        content: "";
        width: 100%;
        height: 5px;
        background-color: var(--blue);
        position: absolute;
        top:-2px;
        
    }
    
    #mysort{
        position: absolute;
        text-align: center;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        top: 15%;
    }
    
    #mysort button{
        outline: none;
        border : 2px solid var(--blue);
        background-color: var(--lightblue);
        color: var(--blue);
        font-size: 18px;
        padding: 5px 20px;
        border-radius: 10px;
        letter-spacing: 2px;
    }
    #mysort button:hover{
        background-color: var(--blue);
        color: white;
    }
    

    /* ----------------------------------------- live camera */
    #medias{
        background-image: url(../img/bg_3.jpg);
        background-size: cover;
        background-position: right;
    }

    /* section2-photoslide */
    .fp-controlArrow {
        top: 99%;
    }
    
    .fp-controlArrow.fp-prev {
        left: 96%;
        border-width: 17.5px 25px 17.5px 0px;
        border-color: transparent rgba(255, 255, 255,0.8) transparent transparent;
    }
    .fp-controlArrow.fp-next {
        right: 1%;
        border-width: 17.5px 0px 17.5px 25px;
        border-color: transparent transparent transparent rgba(255, 255, 255,0.8) ;
    }
    
    #headerlet , #headergo{
        width: 20vw;
        top: 3vh;
        animation: letgo_l 5s 2s;
        animation-fill-mode:forwards; 
    }
    #headerlet{
        left: 3vw;
    }
    #headergo{
        left: 12vw;
    }
    @keyframes letgo_l {
        0% {opacity: 0;}
        40% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    #fujimountain{
        width: 100%;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    #sun{
        width: 50vw;
        bottom: -40vh;
        animation: SunRise_l 5s 2s;
        animation-fill-mode:forwards;
    }
    @keyframes SunRise_l {
        from { bottom: -30vh; }
        to { bottom: 5vh; }
    }
    #shinkansen{
        right: -100vw;
        animation: Rail 7s 2s infinite;
        animation-fill-mode:forwards;
    }
    @keyframes Rail {
        from { right: -100vw; }
        to { right: 100vw; }
    }
/* ROW Setting */
    @media (min-width: 1200px) and (max-width: 1579.99px){ 
        #headerlet , #headergo{
            width: 20vw;
            top: 3vh;
            animation: letgo_l 5s 2s;
            animation-fill-mode:forwards; 
        }
        #headerlet{
            left: 3vw;
        }
        #headergo{
            left: 12vw;
        }
        @keyframes letgo_l {
            0% {opacity: 0;}
            40% {opacity: 0;}
            100% {opacity: 1;}
        }
        
        #fujimountain{
            width: 100%;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
        #sun{
            width: 50vw;
            bottom: -40vh;
            animation: SunRise_l 5s 2s;
            animation-fill-mode:forwards;
        }
        @keyframes SunRise_l {
            from { bottom: -30vh; }
            to { bottom: 5vh; }
        }
        #shinkansen{
            right: -100vw;
            animation: Rail 7s 2s infinite;
            animation-fill-mode:forwards;
        }
        @keyframes Rail {
            from { right: -100vw; }
            to { right: 100vw; }
        }
    
    .fp-controlArrow.fp-prev {
        left: 93%;
    }
    .fp-controlArrow.fp-next {
        right: 1%;
    }
    }
    
    @media (min-width: 770px) and (max-width: 1199.99px) { 
        #headerlet , #headergo{
            width: 28vw;
            animation: letgo_m 5s 2s;
            animation-fill-mode:forwards; 
        }
        #headerlet{
            left: 5vw;
            top: 3vh;
        }
        #headergo{
            left: 15vw;
            top: 7vh;
        }
        @keyframes letgo_m {
            0% {opacity: 0;}
            40% {opacity: 0;}
            100% {opacity: 1;}
        }
        #fujimountain{
            width: 100%;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
        #sun{
            width: 50vw;
            bottom: -30vh;
            animation: SunRise_m 5s 2s;
            animation-fill-mode:forwards;
        }
        @keyframes SunRise_m {
            from { bottom: -30vh; }
            to { bottom: 8vh; }
        }
        #shinkansen{
            right: -165%;
            animation: Rail_m 7s 2s infinite;
            animation-fill-mode:forwards;
        }
        @keyframes Rail_m {
            from { right: -165%; }
            to { right: 100vw; }
        }
        #photoslide p{
            font-size: 24px;
            width: 100%;
            top: 150px;
        }
        #photoslide p::after {
            content: '';
            width: 3px;
            height: 28px;
            bottom:10px;
        }
    }
    
    @media (min-width: 576px) and (max-width: 769.99px) { 
        #headerlet , #headergo{
            width: 50vw;
            transform: rotate(12.5deg);
            animation: letgo_m 5s 2s;
            animation-fill-mode:forwards; 
        }
        /* #headerlet{
            left: 5vw;
            top: 3vh;
        }
        #headergo{
            left: 15vw;
            top: 7vh;
        } */
        #headerlet{
            left: 15vw;
            top: 13vh;
        }
        #headergo{
            top: 20vh;
            left: 35vw;
        }
        @keyframes letgo_m {
            0% {opacity: 0;}
            40% {opacity: 0;}
            100% {opacity: 1;}
        }
        #fujimountain{
            width: 100%;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
        #sun{
            width: 50vw;
            bottom: -30vh;
            animation: SunRise_m 5s 2s;
            animation-fill-mode:forwards;
        }
        @keyframes SunRise_m {
            from { bottom: -30vh; }
            to { bottom: 8vh; }
        }
        #shinkansen{
            right: -165%;
            animation: Rail_m 7s 2s infinite;
            animation-fill-mode:forwards;
        }
        @keyframes Rail_m {
            from { right: -165%; }
            to { right: 100vw; }
        }

        /* section2-photoslide */
        #photoslide p{
            font-size: 24px;
            width: 100%;
            top: 150px;
        }
        #photoslide p::after {
            content: '';
            width: 3px;
            height: 28px;
            bottom:10px;
        }
        .fp-controlArrow.fp-prev {
            left: 90%;
        }
        .fp-controlArrow.fp-next {
            right: 1%;
        }

        /* ------------------------------- Q＆A */
        #yamabikoMountain{
            height: 500px;
            bottom: -15px;
        }
        #yamabikoHiker{
            height: 300px;
        }
        #question{
            font-size: 18px;
            left: 20%;
            width: 70%;
            padding: 15px 20px;
        }
        #result{
            padding-left: 58px;
        }
        #answer {
            font-size: 18px;
            width: 30%;
            bottom: 20%;
            right: 30%;
            padding: 5px 15px;
        }
        #answer button{
            position: relative;
            top:-10px;
            width: 70%;
            margin-top: 5px;
        }
    }
    
    
    @media (max-width: 575.99px) { 
        h3 {
            font-size: 24px;
        }
        #headerlet , #headergo{
            width: 50vw;
            transform: rotate(12.5deg);
            animation: letgo_s 5s 2s;
            animation-fill-mode:forwards; 
        }
        #headerlet{
            left: 15vw;
            top: 13vh;
        }
        #headergo{
            top: 20vh;
            left: 35vw;
        }
        @keyframes letgo_s {
            0% {opacity: 0;}
            40% {opacity: 0;}
            100% {opacity: 1;}
        }
        #fujimountain{
            width: 180%;
            right: -40vw;
        }
        #sun{    
            width: 80vw;
            bottom: -20vh;
            animation: SunRise_s 5s 2s;
            animation-fill-mode:forwards;
        }
        @keyframes SunRise_s {
            from { bottom: -20vh; }
            to { bottom: 8vh; }
        }
        #shinkansen{
            right: -200%;
            animation: Rail_s 7s 2s infinite;
            animation-fill-mode:forwards;
        }
        @keyframes Rail_s {
            from { right: -200%; }
            to { right: 100vw; }
        }
        #fujiLivecamera{
            width: 312px;
            height: 175.5px;
        }
        /* ------------------------------- section2-photoslide */
        #photoslide p{
            font-size: 14px;
            width: 220px;
            top: 120px;
            
        }
        #photoslide p::after {
            content: '';
            width: 2px;
            height: 15px;
            bottom:8px;
        }
        .fp-controlArrow.fp-prev {
            left: 80%;
        }
        .fp-controlArrow.fp-next {
            right: 1%;
        }
        /* ------------------------------- Info */
        .infopage{
            display: flex;
            flex-direction: column;
            font-size: 13px;
            width: 80%;
            top: 90px;
        }
        .infopage .col-6{
            max-width: 100%;
            margin-bottom: 30px;
        }
        /* ------------------------------- To Do or Not */
        #TodoOrNotCards{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -25px;
        }
        #TodoCard , #NotdoCard{
            max-width: 70%;
            margin: 5px;
            padding: 0;
        }
        #TodoOrNotCards .card-img-top{
            width: 190px;
        }
        #TodoOrNotCards .card-title {
            font-size: 20px;
            margin: 3px;
        }
        #TodoOrNotCards .btn {
            font-size: 12px;
            padding: 3px 5px;
            margin-bottom: 5px;
        }
        #TodoOrNotCards .card-text{
            font-size: 13px;
            margin: 3px;

        }
        #TodoOrNotCards .card-body{
            width: 100%;
            padding: 0px;
            margin: 0px 0px;
        }


        /* ------------------------------- Q＆A */
        #yamabikoMountain{
            height: 300px;
            left: -50px;
            bottom: -15px;
        }
        #yamabikoHiker{
            height: 200px;
        }
        
        #QAinfo {
            font-size: 16px;
            width: 80%;
        }
        #question{
            font-size: 16px;
            left: 20%;
            width: 65%;
            padding: 7px 10px;
        }
        #result{
            position: relative;
            padding-left: 30px;
            top: -10px;
        }
        #answer {
            font-size: 16px;
            width: 50%;
            bottom: 15%;
            right: 35%;
            padding: 5px 15px;
        }
        #answer button{
            position: relative;
            top:-10px;
            width: 70%;
            margin-top: 5px;
        }
    }