*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root {
    --blue: #2b72b5;
    --lightblue:#a6d9f3;

}
h1,h2,h3,h4,h5,h6 {
    color: var( --blue );
}
h3 {
    color: var( --blue );
    text-align: center;
    font-size: 3rem;
    position: absolute;
    top: 10%;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}


.section{
    width: 100%;
    height: 100vh;
}
#home{
    /* background-color: red; */
    display: flex;
    position: relative;
}
#homefuji{
    width: 100%;
    min-width: 800px;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
#info{
    background-image: url('../img/japanmap.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.infopage{
    display: block;
    width: 70%;
    position: relative;
    left: 10%;
    
}
#trails{
    /* background-image: url('../img/m8bimq0000003td4.jpeg'); */
    background-repeat: no-repeat;
    background-position: bottom right;
    /* display: flex; */
    /* flex-direction:column; */
}

#yoshidatrails {
    background-color: yellow;
}

#trailsbt{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 20%;
}

.trail_box{
    display: block;
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 30%;
    left: 10%;
    /* background-color: red; */
}
input[type=radio]{
    display: none;
}
#trails img{
    width: 5%;
}

.travelbox{
    width: 30%;
    height: 350px;
    display: block;
    border: 1px solid #999;
    border-radius: 20px;
    margin: 0 20px;
    text-align: center;
}
figure img{
    width: 95%;
    
}


#myheader{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* z-index: 2; */
}


.section{
    background-color: #ffffff;
}


.headercloud , #shinkansen , #sun , #fujimountain , #headerlet , #headergo{
    position: absolute;
}

.headercloud{
    width: 20vw;
    z-index: 3;
}

#leftcloud{
    bottom: 12vh;
    left: 20vw;
    animation: MoveToLeft 5s 2s ;
    animation-fill-mode:forwards;
}

@keyframes MoveToLeft {
    from { left: 20vw; }
    to { left: 5vw; }
}
#rightcloud{
    bottom: 10vh;
    right: 20vw;
    animation: MoveToRight 5s 2s ;
    animation-fill-mode:forwards;
}
@keyframes MoveToRight {
    from { right: 20vw; }
    to { right: 5vw; }
}

#shinkansen{
    height: 5vh;
    bottom: 0vh;
    z-index: 3;
}

#sun{
    z-index: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#fujimountain{
    z-index: 2;
    bottom: 0vh;
}

#headerlet , #headergo{
    opacity: 0;
}

#fujiLivecamera{
    width: 560px;
    height: 315px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
 }

@media (min-width: 1200px) { 
    #headerlet , #headergo{
        width: 20vw;
        top: 3vh;
        animation: letgo_l 5s 2s;
        animation-fill-mode:forwards; 
    }
    #headerlet{
        left: 3vw;
    }
    #headergo{
        left: 12vw;
    }
    @keyframes letgo_l {
        0% {opacity: 0;}
        40% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    #fujimountain{
        width: 100%;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    #sun{
        width: 50vw;
        bottom: -40vh;
        animation: SunRise_l 5s 2s;
        animation-fill-mode:forwards;
    }
    @keyframes SunRise_l {
        from { bottom: -30vh; }
        to { bottom: 5vh; }
    }
    #shinkansen{
        right: -100vw;
        animation: Rail 10s 4s ;
        animation-fill-mode:forwards;
    }
    @keyframes Rail {
        from { right: -100vw; }
        to { right: 100vw; }
    }
}

@media (min-width: 576px) and (max-width: 1199.99px) { 
    #headerlet , #headergo{
        width: 28vw;
        animation: letgo_m 5s 2s;
        animation-fill-mode:forwards; 
    }
    #headerlet{
        left: 5vw;
        top: 3vh;
    }
    #headergo{
        left: 15vw;
        top: 7vh;
    }
    @keyframes letgo_m {
        0% {opacity: 0;}
        40% {opacity: 0;}
        100% {opacity: 1;}
    }
    #fujimountain{
        width: 100%;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    #sun{
        width: 50vw;
        bottom: -30vh;
        animation: SunRise_m 5s 2s;
        animation-fill-mode:forwards;
    }
    @keyframes SunRise_m {
        from { bottom: -30vh; }
        to { bottom: 8vh; }
    }
    #shinkansen{
        right: -165%;
        animation: Rail_m 10s 4s ;
        animation-fill-mode:forwards;
    }
    @keyframes Rail_m {
        from { right: -165%; }
        to { right: 100vw; }
    }
}


@media (max-width: 575.99px) { 
    #headerlet , #headergo{
        width: 50vw;
        transform: rotate(12.5deg);
        animation: letgo_s 5s 2s;
        animation-fill-mode:forwards; 
    }
    #headerlet{
        left: 15vw;
        top: 13vh;
    }
    #headergo{
        top: 20vh;
        left: 35vw;
    }
    @keyframes letgo_s {
        0% {opacity: 0;}
        40% {opacity: 0;}
        100% {opacity: 1;}
    }
    #fujimountain{
        width: 180%;
        right: -40vw;
    }
    #sun{    
        width: 80vw;
        bottom: -20vh;
        animation: SunRise_s 5s 2s;
        animation-fill-mode:forwards;
    }
    @keyframes SunRise_s {
        from { bottom: -20vh; }
        to { bottom: 8vh; }
    }
    #shinkansen{
        right: -200%;
        animation: Rail_s 10s 4s ;
        animation-fill-mode:forwards;
    }
    @keyframes Rail_s {
        from { right: -200%; }
        to { right: 100vw; }
    }
    #fujiLivecamera{
        width: 312px;
        height: 175.5px;
    }
}
 
#navbar{
     position: fixed;
     height: 100vh;
     margin: 0 auto auto 20px;
     z-index: 1;
     background-color: var(--blue);
     width: 4px;
     height: 100vh;
     /* display: none; */
    }
    
.mynavcss{
    margin-bottom: 30px;
    height: 30px;
}

.mynavcss > button{
    /* display: block; */
    display: none;
    width: 130px;
    height: 30px;
    position: relative;
    top: 50px;
    left: -10px;
    background-color: rgba(0, 0, 255, 0.2);
    border-radius: 20px;
    text-align: center;
    line-height: 10px;
    border: none;
    color: var(--blue);
    /* z-index: 1; */
}


.navcircle{
    width: 12px;
    height: 12px;
    position: relative;
    top: 70px;
    border: 1px solid #ffffff; 
    border-radius: 50%;
    background-color: var(--blue);
    margin-left:-4px;
    /* margin-bottom: 40px; */
    /* z-index: 1; */
}


#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: var(--blue);
}
#fp-nav ul li .fp-tooltip {
    color: var(--blue);
}